mixin video(videoInfo)
    div 
        h3  
            a(href=`/videos/${videoInfo.id}`)=videoInfo.title
        ul 
            li Rating : #{videoInfo.rating} / 5
            li #{videoInfo.comments} comments 
            li #{videoInfo.uploadedAt}
            li #{videoInfo.views} views